chromedriver_autoinstaller==0.6.3
clear_screen==0.1.14
selenium==4.16.0
webdriver_manager==4.0.1
selenium_wire==5.1.0
aiofiles==25.1.0
annotated-types==0.7.0
blinker==1.9.0
boto3==1.42.30
botocore==1.42.30
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
Flask==3.1.2
flask-cors==6.0.2
google_search_results==2.4.2
greenlet==3.3.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
linkedin_scraper==3.0.1
lxml==6.0.2
MarkupSafe==3.0.3
playwright==1.57.0
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
